[submodule "Home_liquid"]
	path = Home_liquid
	url = https://pmisinsk@github.com/pmisinsk/Home_liquid.git
[submodule "Testing2"]
	path = Testing2
	url = https://github.com/pmisinsk/Testing2.git
[submodule "project"]
	path = project
	url = /home/users/wins-dtts/project/
